:root{
    /* Primay Colors */
    --bright-blue: hsl(220, 98%, 61%);
    --check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    /* Neutral Colors Light Theme */
    --very-light-gray: hsl(0, 0%, 98%);
    --very-light-grayish-blue: hsl(236, 33%, 92%);
    --light-grayish-blue: hsl(233, 11%, 84%);
    --dark-grayish-blue: hsl(236, 9%, 61%);
    --very-dark-grayish-blue: hsl(235, 19%, 35%);

    /* Neutral Colors Dark Theme */
    --very-dark-blue: hsl(235, 21%, 11%);
    --very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --light-grayish-blue: hsl(234, 39%, 85%);
    --light-grayish-blue-hover: hsl(236, 33%, 92%);
    --dark-grayish-blue: hsl(234, 11%, 52%);
    --very-dark-grayish-blue: hsl(233, 14%, 35%);
    --very-dark-grayish-blue-second: hsl(237, 14%, 26%);

    /* Typography */
    --font-josefin-sans: 'Josefin Sans', sans-serif;
}

html, body, #root, .section{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body{
    font-size: 18px;
    font-family: var(--font-josefin-sans)
}

.section{
    background: url(./assets/images/bg-mobile-light.jpg) no-repeat;
    background-size: 100% 250px;
}

.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
}

.container{
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    padding-top: .6em;
}

.container h1{
    font-size: 2rem;
    letter-spacing: 20px;
    color: #fff;
}

.theme-btn{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
} 

.todo-form{
    width: inherit;
    margin-top: 1em;
    height: 60px;
}

.todo-label{
    display: grid;
    grid-template-columns: 25px 145px auto;
    align-items: center;
    height: inherit;
    gap: 15px;
    padding-right: .5em;
    padding-left: .5em;
    border-radius: 5px;
    background-color: var(--very-light-gray);
}

.form-circle{
    margin-left: 10px;
    width: 25px;
    height: 25px;
    border: 1px solid var(--light-grayish-blue);
    border-radius: 50%;
}

.form-span{
    font-size: .9rem;
    margin-top: .2em;
    margin-left: 1em;
    color: var(--dark-grayish-blue);
}

.form-input-text{
    font-size: 1.3rem;
    font-family: var(--font-josefin-sans);
    border: none;
    min-width: 70px;
    background-color: var(--very-light-gray);
}

.form-input-text:focus{
    border: none;
    outline: none;
}

.todo-container{
    position: relative;
    width: inherit;
    margin-top: 1em;
    border-radius: .3em;
    background-color: var(--very-light-gray);
    box-shadow: 1px 0 5px rgb(100, 99, 99);
}

.todo-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-list-item{
    display: grid;
    grid-template-columns: 20px auto 30px;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid var(--light-grayish-blue);
}

.todo-list-label{
    font-size: 1rem;
    margin-left: 2em;
}

.todo-list-counter{
    display: flex;
    justify-content: space-between;
    padding: 1.7em 1em;
    list-style: none;
}

.todo-list-counter li{
    font-size: 1rem;
    color: var(--dark-grayish-blue);
}

.todo-checkbox{
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid var(--light-grayish-blue);
    outline: none;
}

.todo-checkbox:after{
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background: url(assets/images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.todo-checkbox:checked{
    background: var(--check-background);
}

.todo-checkbox, .todo-task, .btn-delete{
    cursor: pointer;
}

.btn-delete{
    border: none;
    outline: none;
    background: none;
}

.clear-btn{
    cursor: pointer;
}

.clear-btn:hover{
    color: var(--very-dark-grayish-blue)
}

.todo-status{
    position: absolute;
    top: 510px;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    width: 100%;
    padding: 0;
    box-shadow: 2px 2px 5px rgb(100, 99, 99);
    font-size: 1rem;
    font-weight: 600;
    list-style: none;
}

.todo-status{
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

.radio-btn{
    appearance: none;
}

.label-text{
    cursor: pointer;
}

.radio-btn:checked + .label-text{
    color: var(--bright-blue);
}

.label-text:hover{
    color: var(--very-dark-blue);
}

@media screen and (min-width: 768px) {
    .section{
        background: url(./assets/images/bg-desktop-light.jpg) no-repeat;
        background-size: 100% 260px;
    }

    .todo-list-counter{
        display: grid;
        grid-template-columns: 81px 225px 123px;
        justify-content: space-between;
        padding: 1.2em;
    }

    .todo-status{
        all: unset;
        display: flex;
        justify-content: space-evenly;
    }

    .label-text{
        font-weight: 600;
    }
}

